<div class="card border-primary mb-3" >
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>

    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear cliente</button>
    </div>
    <div *ngIf="clientes?.length == 0" class="alert alert-info">
      No hay registro en la base de datos
    </div>
    <table class="table table-bordered table-striped" *ngIf="clientes?.length > 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Fecha</th>
                <th>
                  Editar
                </th>
                <th>
                  Eliminar
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido | uppercase }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.createAt | date:"EEEE dd, MMMM yyyy"}}</td>
                <td>
                  <button type="button" name="editar"
                          class="btn btn-primary btn-sm"
                          [routerLink]="['/clientes/form', cliente.id]" >
                    Editar
                  </button>
                </td>
                <td>
                  <button type="button" name="eliminar"
                          class="btn btn-danger btn-sm"
                          (click) = "delete(cliente)" >
                    Eliminar
                  </button>
                </td>
            </tr>
        </tbody>
    </table>

  </div>
</div>
