<ul class="alert alert-danger px-5" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{err}}
  </li>
</ul>
<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
        <form class="row g-2" #clienteForm="ngForm" >

          <div class="col-md-4">
            <label for="nombre" class="form-label">Nombre</label>
            <input id="nombre" type="text" class="form-control"
                   [(ngModel)]="cliente.nombre" name="nombre"
                   #nombre="ngModel"/>
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
              <div *ngIf="nombre.errors['required']">
                Nombre es requerido
              </div>
              <div *ngIf="nombre.errors['minlength']">
                Nombre debe teber al menos caracteres
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <label for="apellido" class="form-label">Apellido</label>
            <input id="apellido" type="text" class="form-control"
                   [(ngModel)]="cliente.apellido" name="apellido"
                   #apellido="ngModel"/>
            <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
              <div *ngIf="apellido.errors['required']">
                Apellido es requerido
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <label for="email" class="form-label">Email</label>
            <input id="email" type="email" class="form-control"
                   [(ngModel)]="cliente.email" name="email"
                   #email="ngModel"/>
            <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
              <div *ngIf="email.errors['required']">
                Email es requerido
              </div>
              <div *ngIf="email.errors['email']">
                Debe tener un formato valido
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <button class="btn btn-primary" role="button"
                    (click)="create()" *ngIf="!cliente.id else elseBlock"  [disabled]="!clienteForm.form.valid" >Crear</button>
            <ng-template #elseBlock>
              <button class="btn btn-warning" role="button"
                      (click)="update()" [disabled]="!clienteForm.form.valid">Editar</button>
            </ng-template>
          </div>

        </form>
    </div>
</div>
